<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.ayyappa.springdemo2.beans.Student" id="stu1">
    	<property name="rollNo" value="2050101" />
    	<property name="name" value="Ayyappa" />
    	<property name="dept" value="CSE" />
    </bean>

</beans>